<!DOCTYPE html>

<body>

<h1>Product Summary report</h1>
<div>
<table>
<tr>
<th>
Row
</th>
<th>
Product Name
</th>
<th>
Quantity On Hand
</th>
</tr>
{{ range $index, $element := .}}
<tr>
<td> {{$index}}</td>
</tr>
<tr><td> {{.ProductName}}</td></tr>
<tr><td>{{.QuantityOnHand}}</td></tr>
{{end}}
</table>

</div>
</body> 
</html>
